.maybeForm {
    background-image: url("clippy.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
}
.form-group {
   font-size: 1.5em;
}
.video {
    background-image: url("youtube.png");
    display: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;

}

.maybe-body {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    background-image: url("sunshine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 10rem;
    border: 20em;
    margin: .2em;

}
.maybeButton {
    text-align: center;


}