@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Indie+Flower');

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color: blue;
  }
.card-body {
    background-image: url("background_notebook.jpg");
    background-position: stretch;
    -webkit-transform: scale(.9, .9);
    font-family: 'Indie Flower', cursive;
}
.cookie-body {
    background-image: url("cookie.jpg");
    -webkit-transform: scale(.9, .9);
    font-family: 'Indie Flower', cursive;
    background-position: right;
    height: 15em;
    background-repeat: no-repeat;
}

.photo{

    align-content: center;

}

.card-body{
    border-radius: 3%;
}
.journalForm{
    background-image: url("sunshine.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center

}
.checkButton{
    text-align: center;
}

