
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    display: right;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    color: brown;
    background-image: url("utripn.png");
    align-items: stretch;
    height: 380px;
    -webkit-transform: scale(1, 0.8);
}
