
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    margin: 0 0 3em;
    position: relative;
    display: flex;
    color: brown;
    background-image: url("utripn.png");
    float: top;
    align-items: stretch;
}
